.main-container div,
.main-container a,
.main-contianer p,
.main-container img,
body{
    padding: 0;
    margin: 0;
}

/* -- Our Actual CSS -- */

html {
    height: 100%;
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body,
form{
    position: relative;
    height: 100%;
    min-height: 100%;
}
body {
    font-size: 16px;
}
svg {
    height: 0;
    width: 0;
}
nav ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input,
select {
    vertical-align: middle;
}

p.error-message {
    color: red;
    padding-top: 5px;
    margin: 0;
    font-size: medium;
}

p.form-error-message {
    color: red;
    font-size: large;
    margin: 0;
    padding-top: 10px;
}

.main-container .form-group {
    padding: 13px;
}

.loader {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 10;
}

.loadingtext {
    color: white;
    font-size: large;
    font-weight: 500;
    text-align: center;
}

.settings-button {
    border: none;
    height: 60px;
    width: 60px;
}
.main-container {
    background-image: url("wwall.jpg");
    background-repeat: repeat;
}

.glass {
    background: -moz-linear-gradient(-45deg, rgba(10, 14, 5, 0.15) 0%, rgba(17, 8, 12, 0.25) 28%, rgba(11, 22, 14, 0.21) 28%, rgba(19, 9, 10, 0.12) 37%, rgba(15, 12, 15, 0.23) 37%, rgba(17, 9, 12, 0.11) 52%, rgba(13, 15, 17, 0.22) 61%, rgba(11, 9, 8, 0.25) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(12, 11, 16, 0.15)), color-stop(28%, rgba(9, 12, 17, 0.25)), color-stop(28%, rgba(15, 2, 17, 0.21)), color-stop(37%, rgba(11, 14, 15, 0.12)), color-stop(37%, rgba(09, 08, 14, 0.23)), color-stop(52%, rgba(11, 14, 21, 0.21)), color-stop(61%, rgba(11, 21, 11, 0.12)), color-stop(100%, rgba(09, 11, 13, 0.25)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, rgba(10, 14, 5, 0.15) 0%, rgba(17, 8, 12, 0.25) 28%, rgba(11, 22, 14, 0.21) 28%, rgba(19, 9, 10, 0.12) 37%, rgba(15, 12, 15, 0.23) 37%, rgba(17, 9, 12, 0.21) 52%, rgba(13, 15, 17, 0.22) 61%, rgba(11, 9, 8, 0.25) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, rgba(10, 14, 5, 0.15) 0%, rgba(17, 8, 12, 0.25) 28%, rgba(11, 22, 14, 0.21) 28%, rgba(19, 9, 10, 0.12) 37%, rgba(15, 12, 15, 0.23) 37%, rgba(17, 9, 12, 0.21) 52%, rgba(13, 15, 17, 0.12) 61%, rgba(11, 9, 8, 0.25) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, rgba(10, 14, 5, 0.15) 0%, rgba(17, 8, 12, 0.25) 28%, rgba(11, 22, 14, 0.21) 28%, rgba(19, 9, 10, 0.12) 37%, rgba(15, 12, 15, 0.23) 37%, rgba(17, 9, 12, 0.21) 52%, rgba(13, 15, 17, 0.12) 61%, rgba(11, 9, 8, 0.25) 100%);
    /* IE10+ */
    background: linear-gradient(-45deg, rgba(10, 14, 5, 0.15) 0%, rgba(17, 8, 12, 0.25) 28%, rgba(11, 22, 14, 0.21) 28%, rgba(19, 9, 10, 0.12) 37%, rgba(15, 12, 15, 0.23) 37%, rgba(17, 9, 12, 0.21) 52%, rgba(13, 15, 17, 0.12) 61%, rgba(11, 9, 8, 0.25) 100%);
    /* W3C */
    border-radius: 5px;
    border-style: groove;
    border-width: thin;
    border-color: #BDB3B3;
}

.glass-dark {
    background: -moz-linear-gradient(-45deg, rgba(10, 14, 5, 0.45) 0%, rgba(17, 8, 12, 0.32) 28%, rgba(11, 22, 14, 0.51) 28%, rgba(19, 9, 10, 0.32) 37%, rgba(15, 12, 15, 0.53) 37%, rgba(17, 9, 12, 0.41) 52%, rgba(13, 15, 17, 0.62) 61%, rgba(11, 9, 8, 0.45) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(12, 11, 16, 0.45)), color-stop(28%, rgba(9, 12, 17, 0.32)), color-stop(28%, rgba(15, 2, 17, 0.51)), color-stop(37%, rgba(11, 14, 15, 0.32)), color-stop(37%, rgba(09, 08, 14, 0.53)), color-stop(52%, rgba(11, 14, 21, 0.31)), color-stop(61%, rgba(11, 21, 11, 0.62)), color-stop(100%, rgba(09, 11, 13, 0.45)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, rgba(10, 14, 5, 0.45) 0%, rgba(17, 8, 12, 0.32) 28%, rgba(11, 22, 14, 0.51) 28%, rgba(19, 9, 10, 0.32) 37%, rgba(15, 12, 15, 0.53) 37%, rgba(17, 9, 12, 0.41) 52%, rgba(13, 15, 17, 0.62) 61%, rgba(11, 9, 8, 0.45) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, rgba(10, 14, 5, 0.45) 0%, rgba(17, 8, 12, 0.32) 28%, rgba(11, 22, 14, 0.51) 28%, rgba(19, 9, 10, 0.32) 37%, rgba(15, 12, 15, 0.53) 37%, rgba(17, 9, 12, 0.41) 52%, rgba(13, 15, 17, 0.62) 61%, rgba(11, 9, 8, 0.45) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, rgba(10, 14, 5, 0.45) 0%, rgba(17, 8, 12, 0.32) 28%, rgba(11, 22, 14, 0.51) 28%, rgba(19, 9, 10, 0.32) 37%, rgba(15, 12, 15, 0.53) 37%, rgba(17, 9, 12, 0.41) 52%, rgba(13, 15, 17, 0.62) 61%, rgba(11, 9, 8, 0.45) 100%);
    /* IE10+ */
    background: linear-gradient(-45deg, rgba(10, 14, 5, 0.45) 0%, rgba(17, 8, 12, 0.32) 28%, rgba(11, 22, 14, 0.51) 28%, rgba(19, 9, 10, 0.32) 37%, rgba(15, 12, 15, 0.53) 37%, rgba(17, 9, 12, 0.41) 52%, rgba(13, 15, 17, 0.62) 61%, rgba(11, 9, 8, 0.45) 100%);
    /* W3C */
    border-radius: 10px;
    border-style: groove;
    border-width: thick;
    border-color: #BDB3B3;
}

.glass-dark-sharp {
    background: -moz-linear-gradient(-45deg, rgba(10, 14, 5, 0.45) 0%, rgba(17, 8, 12, 0.32) 28%, rgba(11, 22, 14, 0.51) 28%, rgba(19, 9, 10, 0.32) 37%, rgba(15, 12, 15, 0.53) 37%, rgba(17, 9, 12, 0.41) 52%, rgba(13, 15, 17, 0.62) 61%, rgba(11, 9, 8, 0.45) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(12, 11, 16, 0.45)), color-stop(28%, rgba(9, 12, 17, 0.32)), color-stop(28%, rgba(15, 2, 17, 0.51)), color-stop(37%, rgba(11, 14, 15, 0.32)), color-stop(37%, rgba(09, 08, 14, 0.53)), color-stop(52%, rgba(11, 14, 21, 0.31)), color-stop(61%, rgba(11, 21, 11, 0.62)), color-stop(100%, rgba(09, 11, 13, 0.45)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, rgba(10, 14, 5, 0.45) 0%, rgba(17, 8, 12, 0.32) 28%, rgba(11, 22, 14, 0.51) 28%, rgba(19, 9, 10, 0.32) 37%, rgba(15, 12, 15, 0.53) 37%, rgba(17, 9, 12, 0.41) 52%, rgba(13, 15, 17, 0.62) 61%, rgba(11, 9, 8, 0.45) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, rgba(10, 14, 5, 0.45) 0%, rgba(17, 8, 12, 0.32) 28%, rgba(11, 22, 14, 0.51) 28%, rgba(19, 9, 10, 0.32) 37%, rgba(15, 12, 15, 0.53) 37%, rgba(17, 9, 12, 0.41) 52%, rgba(13, 15, 17, 0.62) 61%, rgba(11, 9, 8, 0.45) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, rgba(10, 14, 5, 0.45) 0%, rgba(17, 8, 12, 0.32) 28%, rgba(11, 22, 14, 0.51) 28%, rgba(19, 9, 10, 0.32) 37%, rgba(15, 12, 15, 0.53) 37%, rgba(17, 9, 12, 0.41) 52%, rgba(13, 15, 17, 0.62) 61%, rgba(11, 9, 8, 0.45) 100%);
    /* IE10+ */
    background: linear-gradient(-45deg, rgba(10, 14, 5, 0.45) 0%, rgba(17, 8, 12, 0.32) 28%, rgba(11, 22, 14, 0.51) 28%, rgba(19, 9, 10, 0.32) 37%, rgba(15, 12, 15, 0.53) 37%, rgba(17, 9, 12, 0.41) 52%, rgba(13, 15, 17, 0.62) 61%, rgba(11, 9, 8, 0.45) 100%);
    /* W3C */
    border-radius: 0;
    border-style: groove;
    border-width: thin;
    border-color: #BDB3B3;
}


.main-topbar {
    background-image: url('text3.jpg');
    background-repeat: repeat-x;
    height: 60px;
}

.site-heading {
    background: url('stardust.png');
    background-repeat: repeat-x;
    height: 60px;
}

.site-heading h2{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: coral;
    margin: 0;
    padding: 10px;
    text-align: center;
}

div.homeTemplate {
    padding-top: 20px;
}

